<h2>Alumno se inscribe a nueva clase</h2>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>WeCloud</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<p><center><img src="WeCloud.png" width="329" height="169" /></center></p>
<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WeCloud</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="ALUMNOSPHP.php">Mis Clases</a></li>
              <li><a href="AlumnoNuevaClase.php">Inscribir clases</a></li>
              <li><a href="AlumnoSubida.php">Subir Archivo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="Cerrarsesion.php">Cerrar Sesión</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<?php $usuario = $_POST["username"]; ?>
<strong><center><body background="fondo.png">
<br>

<?php
$sql_server = "localhost";
$database = "wecloud";
$sql_user = $_POST["username"];

// set up a connection or die
$conn_id = mysqli_connect($sql_server, "root", "", $database);
if (!$conn_id) {
   die("No se pudo conectar:".mysqli_connect_error());
}

$clasesAlumno = "SELECT clases.IDclase 'Num. de clase', clases.nombreclase 'Nombre de clase', concat(maestros.nombre, ' ', maestros.apPaterno, ' ', maestros.apMaterno) 'Maestro' FROM clases, maestros WHERE clases.IDmaestro = maestros.IDmaestro";
$result = mysqli_query($conn_id, $clasesAlumno);
if (!$result) {
    die("Query to show fields from table failed");
}

$fields_num = mysqli_num_fields($result);

echo "<h3>Clases impartidas {$table}</h3>";
echo "<table border='1'><tr>";
// printing table headers
for($i=0; $i<$fields_num; $i++)
{
    $field = mysqli_fetch_field($result);
    echo "<td>{$field->name}</td>";
}
echo "</tr>\n";
// printing table rows
while($row = mysqli_fetch_row($result))
{
    echo "<tr>";

    // $row is array... foreach( .. ) puts every element
    // of $row to $cell variable
    foreach($row as $cell)
        echo "<td>$cell</td>";

    echo "</tr>\n";
}

mysqli_free_result($result);

$nombres = "SELECT clases.nombreclase 'clase' FROM clases";
$result = mysqli_query($conn_id, $nombres);
if (!$result) {
    die("Query to show fields from table failed");
}
?>

Inscribirse a: <p>
<form action="inscribir.php" method="post">
<select name="clase"> <?php while ($row = mysqli_fetch_array($result)){ ?>
<option value="<?php echo $row['clase']; ?>">
<?php echo $row["clase"]; ?></option>
<?php } ?> </select>
<input type="hidden" name="username" value="<?php echo $_POST['username'] ?>">
<input type="submit" value="Inscribirse"> </form> <br><br>


 
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


<%= link_to "Pagina principal", root_path %>