<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=".../.../favicon.ico">
    <title>WeCloud - La nube para estudiantes</title>

    <!-- Bootstrap core CSS -->
     <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

<body background="assets/fondo.png">

<% @usuario = params[:usr] %>
<% @contrasena = params[:pass] %>
<% @tipo = params[:tipo] %>
      
<strong> <center> <h1><img src="assets/WeCloud.png" width="329" height="169" /></h1>
</strong>
<p>&nbsp;</p>
 <h3><caption> <%= @usuario %> </caption><h3>
     
<p><%= @contrasena %></p>
<p><%= @tipo %></p>

<%= link_to "Pagina principal", root_path %>
</center>
</body>
</html>