<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=".../.../favicon.ico">
    <title>WeCloud - La nube para estudiantes</title>

    <!-- Bootstrap core CSS -->
     <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body background="assets/fondo.png">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong><font color= "blue">WeCloud</font></strong></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container"><br><br>
      <div class="starter-template">
        <center><img src="assets/WeCloud.png" width="420" height="257"></center>
        <h2><p align="center"> Bienvenidos a WeCloud</p></h2>
        <h3><p align="center">Registrate para acceder al sistema y comenzar con las tareas asignadas.<br>
  Si ya obtuviste una cuenta solo es necesario hacer Log in.</p></h3>
      </div>
    </div><!-- /.container -->
    
    <div class="container" style="text-align: center">
      <h2 class="form-signin-heading">Ingrese a la pagina</h2>
      <%= form_tag("autenticador", method: "post") do %>
        <%= text_field_tag(:usr, nil, placeholder: "Usuario", class: "form-control col-lg-6") %> <br>
        <%= password_field_tag(:pass, nil, placeholder: "Contraseña", class: "form-control col-lg-6") %> <br>
        <%= radio_button_tag(:tipo, "profesor") %> <%= label_tag(:tipo_profesor, "Profesor") %> 
        <%= radio_button_tag(:tipo, "alumno") %> <%= label_tag(:tipo_alumno, "Alumno") %> <br> <br>
        <%= submit_tag("Ingresar", class: "btn btn-lg btn-primary") %>
      <% end %>
      <br>
      <label style="display: block; text-align: center;">¿No tienes cuenta?   
      <a href="registro">Registrate aqui</a></label>
      <br><br>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>

  </body>
</html>